body {
      background: #312F2D url("background.png") repeat;
      text-align: center;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 20px;
      margin-top: 5%;
}

body a {
  color: grey;
  text-decoration: none;
}

body a:hover {
  color: black;
}

body h1, h2, h3 {
  margin: 10px;
}

#content {
  height: 50%;
  width: 100%;
}

#header {
  margin-bottom: 20px;
}

#contact {
  margin-bottom: 10%;
}

font {
  color: grey;
}

font:hover {
  cursor: pointer;
  color: black;
}

#footer h2 {
  display: inline-block;
  width: 50%;
  line-height: 10px;
}

/* media query for mobile devices */

@media screen and (max-width: 1430px) {
  #footer {
    display: none;
  }
}
